[Desktop Entry]
Name=Denise
Comment=c64, amiga500 emulator
Exec=Denise %F
Icon=denise.png
Terminal=false
Type=Application
Categories=Game;Emulation;
MimeType=application/x-commodore-d64;application/x-commodore-g64;application/x-commodore-p64;application/x-commodore-d71;application/x-commodore-g71;application/x-commodore-tape;application/x-commodore-crt;application/x-commodore-prg;application/x-denise-save;